<section>
    <div class="main-wrap">
        <div class="container">
            <p class="d-info"> Detailed information</p>
        </div>
        <div class="user-info">
            <h1><span class="title">First name:</span> {{user.firstName}}</h1>
            <h1><span class="title">Last name:</span> {{user.lastName}}</h1>
            <h1><span class="title">Address:</span> {{user.address}}</h1>
            <h1><span class="title">Email: </span>{{user.email}}</h1>
            <h1><span class="title">Date of birth:</span> {{user.dateOfBirth}}</h1>
            <button (click)="goHome()" class="btn-home"><p>Back to home</p> </button>
        </div>
    </div>
</section>
