<table>
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Number</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let info of fromParentObject | search:parentSearchTerm , let i=index">
        <td>{{info.firstName}}</td>
        <td>{{info.lastName}}</td>
        <td>{{info.phoneNumber}}</td>
        <td><button value="edit"  class="edit-button" (click)="editUser(info.id)" >Edit</button></td>
        <td><button value="delete"  class="delete-button" (click)="deleteUser(info.id)">Delete</button></td> 
        <td><a routerLink='/contact/{{info.id}}'><button class="btn-details">More details</button></a></td> 
    </tr>
       <ng-container *ngIf="isEditForm" >
        <div class="overlay">
        <div class="is-open-edit">
        <h3  class="title-add">Edit phone number!</h3>
       
        <div class="is-open2">
            <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="form-style">
                <div >
                    <label for="firstName">First Name:</label>
                    <input id="firstName" formControlName="firstName" >
                </div>
                 <div class="warnings" *ngIf="editForm.get('firstName')?.invalid && editForm.get('firstName')?.touched">
                  First Name is required
                </div> 
              <div>
                <label for="lastName">Last Name:</label>
                <input id="lastName" formControlName="lastName" >
              </div>
               <div class="warnings" *ngIf="editForm.get('lastName')?.invalid && editForm.get('lastName')?.touched">
                  Last Name is required
                </div> 
              <div>
                <label for="phoneNumber">Phone Number:</label>
                <input id="phoneNumber" formControlName="phoneNumber" >
              </div>
                <div  class="warnings" *ngIf="editForm.get('phoneNumber')?.invalid && editForm.get('phoneNumber')?.touched">
                  Invalid Phone Number. The required quantity is 10
                </div> 
              <div>
                <label for="email">Email:</label>
                <input id="email" formControlName="email" >
              </div>
                
                <div class="warnings" *ngIf="editForm.get('email')?.invalid && editForm.get('email')?.touched">
                  Invalid Email
                </div>
              <div>  <label for="address">Address:</label>
                <input id="address" formControlName="address"  ></div>
              
               <div  class="warnings" *ngIf="editForm.get('address')?.invalid && editForm.get('address')?.touched">
                  Address is required
                </div> 
              <div> <label for="dateOfBirth">Date of Birth:</label>
                <input id="dateOfBirth"  formControlName="dateOfBirth"></div>
               
                 <div  class="warnings" *ngIf="editForm.get('dateOfBirth')?.invalid && editForm.get('dateOfBirth')?.touched">
                  Date of Birth is required
                </div> 
                
               </form>
        </div>
        <div class="wrap-btn">
            <button value="cancel" class="button-cancel" (click)="closeEditForm()"  >Cancel</button>
            <button value="save" class="button-save" (click)="saveChanges()" [disabled]="editForm.invalid ">Save</button>
         </div>
       </div></div>
    </ng-container> 
    </tbody>
   
</table>
